<div class="editorNavbarContainer">
  <app-editor-navbar (changeEditMode)="changeEditMode()" />
</div>

<form id="form-container">

  <div id="printable-area">

    <header class="flex-container">
      <section class="flex-column">
        <ng-container *ngFor="let headerField of formFields.header">
          <ng-container *ngIf="editMode; else printMode">
            <app-input-field
              [id]="headerField.id"
              [inputType]="headerField.inputType"
              [label]="headerField.label"
              [placeholder]="headerField.placeholder"
              [value]="headerField.value"
              [class]="headerField.style"
              (updatedInputValue)="headerField.setValue($event)"
            ></app-input-field>
          </ng-container>

          <ng-template #printMode>
            <div class="input-value w-100">
              <b>{{ headerField.label }}</b> {{ headerField.value }}
            </div>
          </ng-template>
        </ng-container>
      </section>

      <section class="flex-column">
        <app-image-upload
        [editMode]="editMode"
        [headerImageUrl]="formFields.headerImage"
        (saveImageUrl)="saveImageUrl($event)"
        ></app-image-upload>
      </section>

    </header>

    <hr class="mb-5 mt-5" />

    <section class="flex-container mt-5 mb-5">
      <ng-container *ngIf="!editMode">
        <div class="flex-column">
          <h1>Buyer:</h1>
        </div>
        <div class="flex-column">
          <h1>Seller:</h1>
        </div>
      </ng-container>
    </section>

    <body class="flex-container">
      <div class="flex-column">
        <ng-container *ngFor="let formField of formFields.body">
          <ng-container *ngIf="formField.column === 'left'">
            <ng-container *ngIf="editMode; else printMode">
              <app-input-field
                [id]="formField.id"
                [inputType]="formField.inputType"
                [label]="formField.label"
                [placeholder]="formField.placeholder"
                [value]="formField.value"
                [class]="formField.style"
                (updatedInputValue)="formField.setValue($event)"
              ></app-input-field>
            </ng-container>

            <ng-template #printMode>
              <ng-container
                *ngIf="formField.style.includes('w-50'); else fullWidth"
              >
                <!-- If the field was 50% width, we want to end up combining these fields together-->
                <div class="w-auto inline-block input-value">
                  {{ formField.value }}&nbsp;
                </div>
              </ng-container>
              <ng-template #fullWidth>
                <!-- Full-width style for inputs that took up 100% width, retain styling -->
                <div class="input-value" [ngClass]="formField.style">
                  <span>{{ formField.value }}</span>
                </div>
              </ng-template>
            </ng-template>
          </ng-container>
        </ng-container>
      </div>

      <div class="flex-column">
        <ng-container *ngFor="let formField of formFields.body">
          <ng-container *ngIf="formField.column === 'right'">
            <!-- If editMode is true -->
            <ng-container *ngIf="editMode; else printMode">
              <app-input-field
                [id]="formField.id"
                [inputType]="formField.inputType"
                [label]="formField.label"
                [placeholder]="formField.placeholder"
                [value]="formField.value"
                [class]="formField.style"
                (updatedInputValue)="formField.setValue($event)"
              ></app-input-field>
            </ng-container>

            <!-- Else block for displaying the value -->
            <ng-template #printMode>
              <ng-container
                *ngIf="formField.style.includes('w-50'); else fullWidth"
              >
                <!-- If the field was 50% width, we want to end up combining these fields together (e.g. 123 London Street)-->
                <div class="w-auto inline-block input-value">
                  {{ formField.value }}&nbsp;
                </div>
              </ng-container>
              <ng-template #fullWidth>
                <!-- Full-width style for inputs that took up 100% width, retain styling -->
                <div class="input-value" [ngClass]="formField.style">
                  <span>{{ formField.value }}</span>
                </div>
              </ng-template>
            </ng-template>
          </ng-container>
        </ng-container>
      </div>
    </body>

    <div class="mb-5"></div>

    <app-invoice-editor-table
      [editMode]="editMode"
      (formChanges)="reCalculateTotals($event)"
    />

    <footer id="invoiceTotals">
      <table>
        <tbody>
          <tr>
            <td><b>Net Total</b></td>
            <td>{{ invoiceData.netTotal }}</td>
            <td>{{ invoiceData.currency }}</td>
          </tr>
          <tr>
            <td><b>VAT Total</b></td>
            <td>{{ invoiceData.vatTotal }}</td>
            <td>{{ invoiceData.currency }}</td>
          </tr>
          <tr>
            <td><b>Gross Total</b></td>
            <td>{{ invoiceData.grossTotal }}</td>
            <td>{{ invoiceData.currency }}</td>
          </tr>
        </tbody>
      </table>
    </footer>

    <hr class="mt-5" />

    <table>
      <tr>
        <td><b>Total Due: </b></td>
        <td>{{ invoiceData.grossTotal }}</td>
      </tr>
    </table>

    <hr />
  </div>
</form>
