<ng-container *ngIf="false; else userInvoices">
  <div class="spinner-container">
    <p-progressSpinner></p-progressSpinner>
  </div>
</ng-container>

<ng-template #userInvoices>
  <div class="table-header">
    <h2>My Invoices</h2>
    <p-button
      icon="pi pi-plus"
      label="New Invoice"
      severity="success"
      size="small"
      (click)="createNewInvoice()"
    />
  </div>
  <p-table *ngIf="userInvoicesDetails != null" [value]="userInvoicesDetails">
    <ng-template pTemplate="header">
      <tr>
        <th>Invoice No.</th>
        <th>Date Issued</th>
        <th>Date Due</th>
        <th>Amount</th>
        <th>Client</th>
        <th>Status</th>
        <th>Actions</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-userInvoice>
      <tr>
        <ng-container>
          <td>{{ userInvoice.invoiceNo }}</td>
          <td>{{ userInvoice.invoiceDate }}</td>
          <td>{{ userInvoice.invoiceDueDate }}</td>
          <td>
            {{
              userInvoice.grossTotal + " " + userInvoice.currency
            }}
          </td>
          <td>{{ userInvoice.buyer }}</td>
          <td>
            <div class="dropdown-cell">
              <p-dropdown
                [style]="{ width: '170px' }"
                [options]="statusItems"
                appendTo="body"
                [placeholder]="userInvoice.status !== '' ? userInvoice.status : 'Select Status'"
              >
                <ng-template let-item pTemplate="item">
                  <div (click)="item.command ? item.command(userInvoice.invoiceId) : null">
                    {{ item.label }}
                  </div>
                </ng-template>
              </p-dropdown>
            </div>
          </td>
          <td>
            <div class="dropdown-cell">
              <p-menu
                #menu
                [model]="actionItems"
                [popup]="true"
                appendTo="body"
              />
              <p-button
                (click)="
                  setSelectedInvoice(userInvoice.invoiceId); menu.toggle($event)
                "
                icon="pi pi-cog"
                size="small"
                severity="secondary"
              />
            </div>
          </td>
        </ng-container>
      </tr>
    </ng-template>
  </p-table> 
</ng-template>
