<table>
  <tbody>
    <tr>
      <td class="text-left"><b>Net Total</b></td>
      <td>{{ netTotal != "" ? netTotal : 0 }}</td>
      <td>{{ currency || "" }}</td>
    </tr>
    <tr>
      <td class="text-left"><b>VAT Total</b></td>
      <td>{{ vatTotal != "" ? vatTotal : 0 }}</td>
      <td>{{ currency || "" }}</td>
    </tr>
    <tr>
      <td class="text-left"><b>Gross Total</b></td>
      <td>{{ grossTotal != "" ? grossTotal : 0 }}</td>
      <td>{{ currency || "" }}</td>
    </tr>
  </tbody>
</table>