<div id="invoiceTotals">
  <table>
    <tbody>
      <tr>
        <td class="text-left">
          <b>Net Total</b>
        </td>
        <td>
          {{ totalsForm.controls.netTotal.value ?? "0.00" }}
        </td>
        <td>zl</td>
      </tr>
      <tr>
        <td class="text-left">
          <b>VAT Total</b>
        </td>
        <td>
          {{ totalsForm.controls.vatTotal.value ?? "0.00" }}
        </td>
        <td>zl</td>
      </tr>
      <tr>
        <td class="text-left">
          <b>Gross Total</b>
        </td>
        <td>
          {{ totalsForm.controls.grossTotal.value ?? "0.00" }}
        </td>
        <td>zl</td>
      </tr>
    </tbody>
  </table>
</div>

<hr class="mt-5" />

<table>
  <tr>
    <td>
      <b>Total Due: </b>
    </td>
    <td>{{ totalsForm.controls.grossTotal.value ?? "0.00" }} zl</td>
  </tr>
</table>
