
<ng-container *ngIf="editMode">
  <b>Invoice Entries</b>
</ng-container>

<br>

<br>

<div class="table-container" [ngClass]="{'edit-mode-padding': editMode}">
  <p-table [value]="tableRows" class="custom-table">
    <ng-template pTemplate="header">
      <tr>
        <th *ngFor="let col of columns" [class]="col.class">
          {{ col.header }}
        </th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-tablerows>
      <tr [id]="tablerows.rowId">
        <td>
          <input
            name="name"
            pInputText
            class="w-100 p-2"
            [ngClass]="{ 'print-mode': !editMode }"
            [(ngModel)]="tablerows.name"
            (ngModelChange)="updateCalculations(tablerows.rowId)"
          />
        </td>
        <td>
          <input
            name="quantity"
            type="string"
            pInputText
            class="w-100 p-2"
            [ngClass]="{ 'print-mode': !editMode }"
            [(ngModel)]="tablerows.quantity"
            (ngModelChange)="updateCalculations(tablerows.rowId)"
          />
        </td>
        <td>
          <input
            name="quantUnit"
            type="string"
            pInputText
            class="w-100 p-2"
            [ngClass]="{ 'print-mode': !editMode }"
            [(ngModel)]="tablerows.quantUnit"
            (ngModelChange)="updateCalculations(tablerows.rowId)"
          />
        </td>
        <td>
          <input
            name="unitNetPrice"
            type="string"
            pInputText
            class="w-100 p-2"
            [ngClass]="{ 'print-mode': !editMode }"
            [(ngModel)]="tablerows.unitNetPrice"
            (ngModelChange)="updateCalculations(tablerows.rowId)"
          />
        </td>
        <td>
          <input
            name="vatPercentage"
            type="string"
            pInputText
            class="w-100 p-2"
            [ngClass]="{ 'print-mode': !editMode }"
            [(ngModel)]="tablerows.vatPercentage"
            (ngModelChange)="updateCalculations(tablerows.rowId)"
          />
        </td>
        <td>
          <input
            name="totalNet"
            [ngClass]="{ 'print-mode': !editMode }"
            pInputText
            class="w-100 p-2"
            readonly
          />
        </td>
        <td>
          <input
            name="totalGross"
            [ngClass]="{ 'print-mode': !editMode }"
            pInputText
            class="w-100 p-2"
            readonly
          />
        </td>
        <td>
          <i *ngIf="editMode"
            class="pi pi-trash"
            style="font-size: 1rem; color: red; opacity: 0.5"
            (click)="deleteRow(tablerows.rowId)"
          ></i>
        </td>
      </tr>
    </ng-template>
  </p-table>

  <button
    *ngIf="editMode"
    id="addTableRows"
    pButton
    pRipple
    label="Add Row"
    class="p-button-success"
    (click)="addEmptyTableRow()"
  ></button>
</div>
