<ng-container *ngIf="editMode">
  <b>Invoice Entries</b>
</ng-container>

<br />

<br />

<div class="table-container" [ngClass]="{ 'edit-mode-padding': editMode }">
  <p-table [value]="tableRows" class="custom-table">
    <ng-template pTemplate="header">
      <tr>
        <th *ngFor="let col of columns" [class]="col.class">
          {{ col.header }}
        </th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-tablerows>

      <tr *ngIf="editMode; else printableRows" [id]="tablerows.rowId" class="appear-animation">
        <td>
          <input
            name="name"
            pInputText
            class="w-100 p-2 cell-field"
            [(ngModel)]="tablerows.name"
            (ngModelChange)="updateCalculations(tablerows.rowId)"
          />
        </td>
        <td>
          <input
            name="quantity"
            type="number"
            pInputText
            class="w-100 p-2 cell-field"
            [(ngModel)]="tablerows.quantity"
            (ngModelChange)="updateCalculations(tablerows.rowId)"
          />
        </td>
        <td>
          <select
            [(ngModel)]="tablerows.quantUnit"
            class="cell-field"
            name="quantUnit"
          >
            <option value="hrs">hrs</option>
            <option value="days">days</option>
            <option value="months">months</option>
          </select>
        </td>
        <td>
          <input
            name="unitNetPrice"
            type="number"
            pInputText
            class="w-100 p-2 cell-field"
            [(ngModel)]="tablerows.unitNetPrice"
            (ngModelChange)="updateCalculations(tablerows.rowId)"
          />
        </td>
        <td>
          <input
            name="vatPercentage"
            type="number"
            pInputText
            class="w-100 p-2 cell-field"
            [(ngModel)]="tablerows.vatPercentage"
            (ngModelChange)="updateCalculations(tablerows.rowId)"
          />
        </td>
        <td>
          <input
            name="totalNet"
            pInputText
            class="w-100 p-2 cell-field"
            [(ngModel)]="tablerows.totalNet"
            readonly
          />
        </td>
        <td>
          <input
            name="totalGross"
            pInputText
            class="w-100 p-2 cell-field"
            [(ngModel)]="tablerows.totalGross"
            readonly
          />
        </td>
        <td>
          <i
            *ngIf="editMode"
            class="pi pi-trash"
            style="font-size: 1rem; color: red; opacity: 0.5"
            (click)="deleteRowFromTable(tablerows.rowId)"
          ></i>
        </td>
      </tr>

      <ng-template #printableRows>
        <tr  [id]="tablerows.rowId" class="printable-rows">
          <td>
            {{tablerows.name}}
          </td>
          <td>
            {{tablerows.quantity}}
          </td>
          <td>
            {{tablerows.quantUnit}}
          </td>
          <td>
            {{tablerows.unitNetPrice}}
          </td>
          <td>
            {{tablerows.vatPercentage}}
          </td>
          <td>
            {{tablerows.totalNet}}
          </td>
          <td>
            {{tablerows.totalGross}}
          </td>
          <td></td>
        </tr>
      </ng-template>
      
    </ng-template>
  </p-table>

  <button
    *ngIf="editMode"
    id="addTableRows"
    pButton
    pRipple
    label="Add Row"
    class="p-button-success"
    (click)="addEmptyTableRow()"
  ></button>
</div>
