/* Keyframe Animations */
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes moveOutAndFade {
  0% {
    opacity: 1;
    transform: translateX(0);
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 0;
    transform: translateX(-100%);
    visibility: hidden; 
  }
}

.appear-animation {
  animation: fadeIn 1s ease-out;
}

.slide-out-animation {
  animation: moveOutAndFade 0.7s ease-in forwards;
}

.custom-table {
  tr {
    color: black !important;
    td {
      padding: 0.5rem;
    }
  }

  th {
    color: black !important;
  }

  td {
    color: black !important;
  }
}

.printable-rows > td {
  padding: 1rem !important;
}


.cell-field {
  width: 100%;
  padding: 0.5rem !important;
  font-size: 1rem;
}

.table-container {
  border: 2px solid #eee;
  position: relative;
  margin-bottom: 50px;

  &.edit-mode-padding {
    padding-bottom: 3rem;
  }
}

#addTableRows {
  position: absolute;
  bottom: -20px;
  left: 1rem;
}

.print-mode {
  outline: none !important;
  border: none !important;
  pointer-events: none;
  user-select: none;
  font-size: 1.2rem;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: none;
  text-indent: 0.01px;
  text-overflow: '';
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
}
