<ng-content *ngIf="messages"> 
  <p-messages [hideTransitionOptions]="'500ms'"  [showTransitionOptions]="'500ms'"[(value)]="messages" [enableService]="false" />
</ng-content>

<p-menubar>
  <ng-template pTemplate="start">
    <p-button
      icon="pi pi-pen-to-square"
      size="small"
      aria-label="Edit"
      severity="secondary"
      (click)="invoiceEditModeState.toggleEditModeState()"
    />
    <p-button
      icon="pi pi-print"
      [disabled]="(invoiceEditModeState.editMode$ | async)"
      size="small"
      aria-label="Print"
      severity="secondary"
      (click)="printInvoice()"
    />
    <p-button
      icon="pi pi-save"
      [disabled]="!(invoiceEditModeState.editMode$ | async)"
      size="small"
      aria-label="Save"
      label="Save"
      severity="success"
      (click)="saveInvoice()"
    />
  </ng-template>
  <ng-template pTemplate="end">
    <p-button
      icon="pi pi-plus"
      size="small"
      severity="secondary"
    />
    <p-button
      icon="pi pi-minus"
      size="small"
      severity="secondary"
    />
    <div id="zoom-percentage">
      <span>100%</span>
    </div>
  </ng-template>
</p-menubar>
