tr > td {
    padding: .5rem !important;
}

.table-container {
    border: 2px solid #eee;
    padding-bottom:3rem;
    position: relative;
    margin-bottom:1000px;
}

#addTableRow {
    position: absolute;
    bottom: -20px;
    left:1rem;
}
  