<form id="form-container" [formGroup]="invoice">
  <div id="printable-area">
    <header class="flex-container">
      <section formArrayName="header">
        <ng-container
          *ngFor="
            let headerField of invoice.controls.header.controls;
            let i = index
          "
        >
          <div
            [formGroupName]="i"
            class="field-container"
            [ngClass]="headerField.controls.style.value"
          >
            <label [for]="headerField.controls.id.value">
              {{ headerField.controls.label.value }}
            </label>

            <input
              formControlName="value"
              class="input-field w-100"
              [type]="headerField.controls.inputType.value"
              [id]="headerField.controls.id.value"
              [placeholder]="headerField.controls.placeholder.value"
              pInputText
            />
          </div>
        </ng-container>
      </section>

      <section class="flex-column">
        <app-image-upload
          [editMode]="true"
          [headerImageUrl]="invoice.controls.headerImage.value"
        ></app-image-upload>
      </section>
    </header>

    <hr class="mb-5 mt-5" />

    <section class="flex-container body" formArrayName="body">
      <div class="flex-column">
        <ng-container
          *ngFor="
            let bodyField of invoice.controls.body.controls;
            let i = index
          "
        >
          <ng-container *ngIf="bodyField.controls.column.value === 'left'">
            <div
              [formGroupName]="i"
              class="field-container"
              [ngClass]="bodyField.controls.style.value"
            >
              <label [for]="bodyField.controls.id.value">
                {{ bodyField.controls.label.value }}
              </label>

              <input
                formControlName="value"
                class="input-field w-100"
                [type]="bodyField.controls.inputType.value"
                [id]="bodyField.controls.id.value"
                [placeholder]="bodyField.controls.placeholder.value"
                pInputText
              />
            </div>
          </ng-container>
        </ng-container>
      </div>

      <div class="flex-column">
        <ng-container
          *ngFor="
            let bodyField of invoice.controls.body.controls;
            let i = index
          "
        >
          <ng-container *ngIf="bodyField.controls.column.value === 'right'">
            <div
              [formGroupName]="i"
              class="field-container"
              [ngClass]="bodyField.controls.style.value"
            >
              <label [for]="bodyField.controls.id.value">
                {{ bodyField.controls.label.value }}
              </label>

              <input
                formControlName="value"
                class="input-field w-100"
                [type]="bodyField.controls.inputType.value"
                [id]="bodyField.controls.id.value"
                [placeholder]="bodyField.controls.placeholder.value"
                pInputText
              />
            </div>
          </ng-container>
        </ng-container>
      </div>
    </section>

    <div class="mb-5"></div>

    <app-invoice-editor-table
      [editMode]="true"
      [invoiceTableForm]="invoice.controls.invoiceTable"
    />

    <footer id="invoiceTotals">
      <table>
        <tbody>
          <tr>
            <td class="text-left">
              <b>Net Total</b>
            </td>
            <td>
              {{ invoice.controls.footer.controls.netTotal.value ?? "0.00" }}
            </td>
            <td>zl</td>
          </tr>
          <tr>
            <td class="text-left">
              <b>VAT Total</b>
            </td>
            <td>
              {{ invoice.controls.footer.controls.vatTotal.value ?? "0.00" }}
            </td>
            <td>zl</td>
          </tr>
          <tr>
            <td class="text-left">
              <b>Gross Total</b>
            </td>
            <td>
              {{ invoice.controls.footer.controls.grossTotal.value ?? "0.00" }}
            </td>
            <td>zl</td>
          </tr>
        </tbody>
      </table>
    </footer>

    <hr class="mt-5" />

    <table>
      <tr>
        <td>
          <b>Total Due: </b>
        </td>
        <td>
          {{ invoice.controls.footer.controls.grossTotal.value ?? "0.00" }} zl
        </td>
      </tr>
    </table>

    <hr />
  </div>
</form>
