<form id="form-container">
  <div id="printable-area">
    <header class="flex-container">
      <section class="flex-column">
        <ng-container *ngFor="let headerField of formFields.header">
          <app-input-field
            [id]="headerField.id"
            [inputType]="headerField.inputType"
            [label]="headerField.label"
            [placeholder]="getFormValue(headerField.id)"
            [class]="headerField.style"
            (updatedInputValue)="updateInvoiceModelObject($event)"
          ></app-input-field>
        </ng-container>
      </section>

      <section class="flex-column">
        <app-image-upload
          [editMode]="true"
          [headerImageUrl]="headerImage"
          (saveImageUrl)="saveImageUrl($event)"
        ></app-image-upload>
      </section>
    </header>

    <hr class="mb-5 mt-5" />

    <section class="flex-container">
      <div class="flex-column">
        <ng-container *ngFor="let formField of formFields.body">
          <ng-container *ngIf="formField.column === 'left'">
            <app-input-field
              [id]="formField.id"
              [inputType]="formField.inputType"
              [label]="formField.label"
              [placeholder]="getFormValue(formField.id)"
              [class]="formField.style"
              (updatedInputValue)="updateInvoiceModelObject($event)"
            ></app-input-field>
          </ng-container>
        </ng-container>
      </div>

      <div class="flex-column">
        <ng-container *ngFor="let formField of formFields.body">
          <ng-container *ngIf="formField.column === 'right'">
            <app-input-field
              [id]="formField.id"
              [inputType]="formField.inputType"
              [label]="formField.label"
              [placeholder]="getFormValue(formField.id)"
              [class]="formField.style"
              (updatedInputValue)="updateInvoiceModelObject($event)"
            ></app-input-field>
          </ng-container>
        </ng-container>
      </div>
    </section>

    <div class="mb-5"></div>

    <app-invoice-editor-table
      [editMode]="true"
      [invoiceTableRowData]="tableData"
      (formChanges)="recalculateTableRows($event)"
    />

    <footer id="invoiceTotals">
      <table>
        <tbody>
          <tr>
            <td class="text-left"><b>Net Total</b></td>
            <td>{{ netTotal != "" ? netTotal : 0 }}</td>
            <td>{{ currentInvoice.currency }}</td>
          </tr>
          <tr>
            <td class="text-left"><b>VAT Total</b></td>
            <td>{{ vatTotal != "" ? vatTotal : 0 }}</td>
            <td>{{ currentInvoice.currency }}</td>
          </tr>
          <tr>
            <td class="text-left"><b>Gross Total</b></td>
            <td>{{ grossTotal != "" ? grossTotal : 0 }}</td>
            <td>{{ currentInvoice.currency }}</td>
          </tr>
        </tbody>
      </table>
    </footer>

    <hr class="mt-5" />

    <table>
      <tr>
        <td><b>Total Due: </b></td>
        <td>{{ grossTotal + " " + currentInvoice.currency}}</td>
      </tr>
    </table>

    <hr />
  </div>
</form>
