.editorNavbarContainer{
  margin-top:50px;
}

*{
  font-size:15pt;
}

#form-container{
  width: 100%;
  align-content: center;
  justify-items: center;
}

form {
  margin-top: 3rem;
}

#printable-area{
  padding-top: 100px;
  padding-bottom: 100px;
  padding-left: 100px;
  padding-right: 100px;
  box-shadow: 1px 3px 5px #000000bf;
  zoom: .65;
  width: 1240px;
  height: 1754px;
}

.flex-container {
  display: flex; /* Enables Flexbox */
  justify-content: space-between; /* Optional: Add space between columns */
}

.flex-column {
  flex: 1; 
  max-width: 47%; 
  box-sizing: border-box; 
  justify-self: center;
}

.formFieldValue{
  width:auto;
}
.input-value{
  margin-bottom:20px;
}

label {
  margin-bottom: 0.5rem; /* Space between the label and input */
}
