<form id="form-container" [formGroup]="invoice">
  <div id="printable-area">
    <header class="flex-container">
      <section class="flex-column">
        <ng-container
          *ngFor="let headerField of invoice.controls.header.controls"
        >
          <div class="input-value w-100">
            <b>{{ headerField.controls.label.value }}</b>
            {{ headerField.controls.value.value }}
          </div>
        </ng-container>
      </section>

      <section class="flex-column">
        <app-image-upload
          [editMode]="false"
          [headerImageUrl]="invoice.controls.headerImage.value"
        ></app-image-upload>
      </section>
    </header>
    <hr class="mb-5 mt-5" />

    <section class="flex-container mt-5 mb-5">
      <div class="flex-column">
        <h1>Buyer:</h1>
      </div>
      <div class="flex-column">
        <h1>Seller:</h1>
      </div>
    </section>

    <section class="flex-container">
      <div class="flex-column">
        <ng-container *ngFor="let formField of invoice.controls.body.controls">
          <ng-container *ngIf="formField.controls.column.value === 'left'">
            <ng-container
              *ngIf="formField.controls.style.value === 'w-50'; else fullWidth"
            >
              <div class="w-auto inline-block input-value">
                {{ formField.controls.value.value }}
              </div>
            </ng-container>
            <ng-template #fullWidth>
              <div
                class="input-value"
                [ngClass]="formField.controls.style.value"
              >
                <span>
                  {{ formField.controls.value.value }}
                </span>
              </div>
            </ng-template>
          </ng-container>
        </ng-container>
      </div>

      <div class="flex-column">
        <ng-container *ngFor="let formField of invoice.controls.body.controls">
          <ng-container *ngIf="formField.controls.column.value === 'left'">
            <ng-container
              *ngIf="formField.controls.style.value === 'w-50'; else fullWidth"
            >
              <div class="w-auto inline-block input-value">
                {{ formField.controls.value.value }}
              </div>
            </ng-container>
            <ng-template #fullWidth>
              <div
                class="input-value"
                [ngClass]="formField.controls.style.value"
              >
                <span>
                  {{ formField.controls.value.value }}
                </span>
              </div>
            </ng-template>
          </ng-container>
        </ng-container>
      </div>
    </section>

    <app-invoice-editor-table
      [editMode]="false"
      [invoiceTableForm]="invoice.controls.invoiceTable"
    />

    <footer id="invoiceTotals">
      <table>
        <tbody>
          <tr>
            <td class="text-left">
              <b>Net Total</b>
            </td>
            <td>
              {{ invoice.controls.footer.controls.netTotal.value ?? "0.00" }}
            </td>
            <td>zl</td>
          </tr>
          <tr>
            <td class="text-left">
              <b>VAT Total</b>
            </td>
            <td>
              {{ invoice.controls.footer.controls.vatTotal.value ?? "0.00" }}
            </td>
            <td>zl</td>
          </tr>
          <tr>
            <td class="text-left">
              <b>Gross Total</b>
            </td>
            <td>
              {{ invoice.controls.footer.controls.grossTotal.value ?? "0.00" }}
            </td>
            <td>zl</td>
          </tr>
        </tbody>
      </table>
    </footer>

    <hr class="mt-5" />

    <table>
      <tr>
        <td>
          <b>Total Due: </b>
        </td>
        <td>
          {{ invoice.controls.footer.controls.grossTotal.value ?? "0.00" }} zl
        </td>
      </tr>
    </table>

    <hr />
  </div>
</form>
