.field-container {
  padding-right: 5px;
}

.input-field {
  display: block; /* Ensures the input is on a new line */
  margin-top: 5px; /* Optional: Adds space between label and input */
  margin-bottom: 5px;
}
