
<ng-container *ngIf="invoiceEditModeState.editMode$ | async; else printMode">
  <ng-content *ngIf="!headerImageUrl; else showLogo">
    <div class="logo-container">
      <div class="drop-zone"
      (dragover)="onDragOver($event)"
      (drop)="onDrop($event)"
      >
        <span>
          Drop Your Logo Here
          <i class="pi pi-upload"></i>
        </span>
      </div>
    </div>
  </ng-content>

  <ng-template #showLogo>
    <div class="logo-container">
      <img
        class="logo-image"
        [src]="headerImageUrl"
        alt="Dropped Image"
      />
    </div>
  </ng-template>
</ng-container>

<ng-template #printMode>
  <div class="logo-container" *ngIf="headerImageUrl">
    <img
      class="logo-image"
      [src]="headerImageUrl"
      alt="Dropped Image"
    />
  </div>
</ng-template>
