.logo-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  justify-self: end;

  img {
    width: 150px;
    height: 150px;
  }

  .image-action-button {
    opacity: 0.8;
  }

  .pi-upload {
    display: block;
    font-size: 24px;
    margin-top: 10px;
  }

  .drop-zone {
    opacity: 0.3;
    display: flex;
    border: 5px dotted grey;
    padding: 10px;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 150px;
  }

  .revision-button-container {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2;
  }
}
