.logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  justify-self: end;

  img {
    width: 200px;
    height:200px;
  }

  .pi-upload{
    display: block;
    font-size: 24px;
    margin-top:10px;
  }

  .drop-zone {
    opacity: .3;
    display: flex;
    border: 5px dotted grey;
    padding:10px;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 200px;
  }
}
