<ng-container *ngIf="invoiceEditModeState.editMode$ | async; else printMode">
  <ng-content *ngIf="headerImage.value === null; else showLogo">
    <div class="logo-container">
      <div
        class="drop-zone"
        (dragover)="preventDefault($event)"
        (drop)="preventDefault($event); onDrop($event)"
      >
        <span>
          Drop Your Logo Here
          <i class="pi pi-upload"></i>
        </span>
      </div>
    </div>
  </ng-content>

  <ng-template #showLogo>
    <div class="logo-container">
      <div class="revision-button-container">
        <p-button
          (click)="removeCurrentImageUrl()"
          icon="pi pi-pen-to-square"
          size="large"
          severity="secondary"
        />
      </div>
      <img class="logo-image" [src]="headerImageUrl" alt="Dropped Image" />
    </div>
  </ng-template>
</ng-container>

<ng-template #printMode>
  <div class="logo-container" *ngIf="headerImage.value !== null">
    <img class="logo-image" [src]="headerImageUrl" alt="Dropped Image" />
  </div>
</ng-template>
